/* 幻羝容器 */
.qqworld-matrix-slider {
	margin: 0;
	padding: 0;
	position:relative;
	overflow: hidden;
	left: 0;
	top: 0;
}
.qqworld-matrix-slider li {
	margin: 0;
	padding: 0;
	float: left;
}

/* 最外面的容器 */
.qqworld-matrix-slider-container {
	position: relative;
}
/* 分 */
.qqworld-matrix-slider-container .pager-container {
	position: absolute;
	left: 30px;
	top: 30px;
	z-index: 10;
}
.qqworld-matrix-slider-container .pager-container ul {
	margin: 0;
	padding: 0;
}
.qqworld-matrix-slider-container .pager-container li {
	list-style: none;
	float: left;
	margin-right: 10px;
	background: #000;
	cursor: pointer;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
}
.qqworld-matrix-slider-container .pager-container li:hover, .qqworld-matrix-slider-container .pager-container .currentPage {
	background: #c00;
}
.qqworld-matrix-slider-container .pager-container li.current {
	background: #f60;
}
/* 上下Ш */
.QQWorldMatrixSlider-button {
	position: absolute;
	width: 50px;
	line-height: 50px;
	height: 50px;
	border-radius: 25px;
	background: #000;
	top: 45%;
	z-index: 10;
	cursor: pointer;
}
.QQWorldMatrixSlider-button:hover {
	background: #c00;
}
.QQWorldMatrixSlider-button.gotoPrev {
	left: 30px;
}
.QQWorldMatrixSlider-button.gotoNext {
	right: 30px;
}