/* 幻羝容器 */
.qqworld-responsive-slider {
	overflow: hidden;
}
.qqworld-responsive-slider > ul {
	margin: 0;
	padding: 0;
	position:relative;
	left: 0;
	top: 0;
}
.qqworld-responsive-slider li {
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	list-style: none;
}

/* 最外面的容器 */
.qqworld-responsive-slider-container {
	width: 100%;
	position: relative;
}
.qqworld-responsive-slider-container.image .qqworld-responsive-slider li img {
	width: 100% !important;
	height: auto !important;
}
/* 分 */
.qqworld-responsive-slider-container .pager-container {
	position: absolute;
	left: 30px;
	top: 30px;
	z-index: 10;
}
.qqworld-responsive-slider-container .pager-container ul {
	margin: 0;
	padding: 0;
}
.qqworld-responsive-slider-container .pager-container li {
	list-style: none;
	float: left;
	margin-right: 10px;
	background: #000;
	cursor: pointer;
	color: #fff;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border-radius: 15px;
}
.qqworld-responsive-slider-container .pager-container li:hover {
	background: #c00;
}
.qqworld-responsive-slider-container .pager-container li.current {
	background: #f60;
}
/* 上下Ш */
.QQWorldResponsiveSlider-button {
	position: absolute;
	width: 50px;
	line-height: 50px;
	height: 50px;
	border-radius: 25px;
	background: #000;
	top: 45%;
	z-index: 10;
	cursor: pointer;
}
.QQWorldResponsiveSlider-button:hover {
	background: #c00;
}
.QQWorldResponsiveSlider-button.gotoPrev {
	left: 30px;
}
.QQWorldResponsiveSlider-button.gotoNext {
	right: 30px;
}